option_settings:
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: 'true'
    MaxBatchSize: '4'
    MinInstancesInService: '1'
    PauseTime: PT10M
    RollingUpdateType: AdditionalBatch
    Timeout: PT30M
  aws:elasticbeanstalk:command:
    BatchSize: '30'
    BatchSizeType: Percentage
    DeploymentPolicy: Immutable
    IgnoreHealthCheck: 'false'
    Timeout: '600'