Resources:
   StartupSignupsTable:
     Type: AWS::DynamoDB::Table
     Properties:
       DBName: EmployeesTable
       KeySchema:
         HashKeyElement:
           AttributeName: "id"
           AttributeType: "N"
         RangeKeyElement:
           AttributeName: "name"
           AttributeType: "S"
       ProvisionedThroughput:
         ReadCapacityUnits: 1
         WriteCapacityUnits: 1